.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  height: 400px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
